.twitter__base {
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #008c72;
  /* appearance: none; */
  border: black 5px solid;
  width: 40%;
  max-height: 400px;
}
